---
import BaseLayout from "./BaseLayout.astro";

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <section class="content-page">
    <div class="container">
      <article class="prose">
        <slot />
      </article>
    </div>
  </section>
</BaseLayout>
